<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>ログインDB</title>
</head>
<body>
<h1>ログインDB</h1>
<a href="{% url 'login_info_add' %}">追加する</a>
<table>
    <tr>
        <th>ID</th>
        <th>名前</th>
        <th>Role</th>
        <th>変更</th>
        <th>削除</th>
    </tr>
    {% for login_info in login_info_list %}
        <tr>
            <td>{{ login_info.login_id }}</td>
            <td>{{ login_info.name }}</td>
            <td>{{ login_info.role }}</td>
            <td>
                <form action="{% url 'info_update' login_info.login_id %}">
                    {% csrf_token %}
                    <input type="submit" value="変更">
                </form>
            </td>
            <td>
                <form action="{% url 'delete_info' login_info.login_id %}">
                    {% csrf_token %}
                    <input type="submit" value="削除">
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
</body>
</html>
