<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>WebSocket Chat</title>
</head>
<body>
<input type="hidden" id="idInput" value="{{ name }}">
<div id="chat"></div>

<script>
    const webSocket = new WebSocket('wss://xm4319z6z4.execute-api.us-east-1.amazonaws.com/production');

    // WebSocketの接続が開いたときの処理
    webSocket.onopen = () => {
        console.log('WebSocketが開かれました。');
        // json履歴受け取り
        fetch('https://erygod339e.execute-api.us-east-1.amazonaws.com/rest', {
            method: 'POST',
            body: 'contact_history',
            headers: {'Content-Type': 'text/plain'}
        })
            .then(response => response.ok ? response.json() : Promise.reject('Network response was not ok.'))
            .then(contactHistory => {
                for (const key in contactHistory) {
                    handleMessage(JSON.parse(contactHistory[key]));
                }
            })
            .catch(error => console.error('エラー:', error));
    };
    // メッセージを受信したときの処理
    webSocket.onmessage = event => handleMessage(JSON.parse(event.data));
    // WebSocketの接続が閉じたときの処理
    webSocket.onclose = () => console.log('WebSocketが閉じられました。');


    // メッセージを処理する関数
    function handleMessage(data) {
        const idInput = document.getElementById('idInput').value;

        // すでに表示されているメッセージを検索
        const existingMessage = document.getElementById(`message-${data['message_id']}`);

        // 作成 or 更新
        if (!existingMessage) {
            // 新しいメッセージを作成
            const message = document.createElement('p');//pタグ作成
            // idにmessageIDを設定
            message.id = `message-${data['message_id']}`;
            // 表示内容
            message.textContent = data['client_id'] + 'さん | ' + 'チャット:' + data['message'];

            // チェックボックスを作成
            const checkbox = document.createElement('input');
            checkbox.type = 'checkbox';
            checkbox.checked = data['checked'][idInput];
            // チェックボックスをpタグの後に追加
            message.appendChild(checkbox);

            // チェックボックスが変更されたときの処理
            checkbox.addEventListener('change', () => {
                // JSONに戻してチェックボックスの状態をサーバへ送信
                webSocket.send(JSON.stringify({
                    'message_id': data['message_id'],
                    'client_id': data['client_id'],
                    'message': data['message'],
                    'checked': {[idInput]: checkbox.checked}
                }));
            });
            // messageをdivタグのchatの後に追加
            document.getElementById('chat').appendChild(message);
        }
    }
</script>
</body>
</html>
