<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>WebSocket Chat</title>
</head>
<body>
<input type="hidden" id="idInput" value="{{ name }}">
<input type="text" id="message" placeholder="メッセージを入力">
<button onclick="sendMessage()">送信</button>
<div id="chat"></div>

<script>
    const webSocket = new WebSocket('wss://xm4319z6z4.execute-api.us-east-1.amazonaws.com/production');

    // WebSocketの接続が開いたときの処理
    webSocket.onopen = () => {
        console.log('WebSocketが開かれました。');
        // json履歴受け取り
        fetch('https://erygod339e.execute-api.us-east-1.amazonaws.com/rest', {
            method: 'POST',
            body: 'contact_history',
            headers: {'Content-Type': 'text/plain'}
        })
            .then(response => response.ok ? response.json() : Promise.reject('Network response was not ok.'))
            .then(contactHistory => {
                for (const key in contactHistory) {
                    handleMessage(JSON.parse(contactHistory[key]));
                }
            })
            .catch(error => console.error('エラー:', error));
    };
    // メッセージを受信したときの処理
    webSocket.onmessage = event => handleMessage(JSON.parse(event.data));
    // WebSocketの接続が閉じたときの処理
    webSocket.onclose = () => console.log('WebSocketが閉じられました。');


    // メッセージを処理する関数
    function handleMessage(data) {
        // すでに表示されているメッセージを検索
        const existingMessage = document.getElementById(`message-${data['message_id']}`);

        // 作成 or 更新
        if (!existingMessage) {
            // 新しいメッセージを作成
            const message = document.createElement('p');//pタグ作成
            // idにmessageIDを設定
            message.id = `message-${data['message_id']}`;

            // 表示内容
            message.textContent = data['client_id'] + 'さん | ' + 'チャット:' + data['message'];

            // 未読・既読機能
            const check = document.createElement('p');
            // キーとそのステータスを格納する配列
            const keyStatus = [];
            for (const key in data['checked']) {
                if (data['checked'][key]) {
                    keyStatus.push(key + '=既読');
                } else {
                    keyStatus.push(key + '=未読');
                }
            }
            // 配列の内容をテキストとして表示
            check.textContent = keyStatus.join(' / ');
            // 未読・既読ステータスを識別するためのクラスを追加
            check.classList.add('read-status');
            // 未読・既読をpタグの後に追加
            message.appendChild(check);
            // messageをdivタグのchatの後に追加
            document.getElementById('chat').appendChild(message);
        } else {
            // すでに表示されているメッセージがあれば、内容を更新
            const readStatus = existingMessage.querySelector('p.read-status');
            if (readStatus) {
                // キーとそのステータスを格納する配列
                const keyStatus = [];
                for (const key in data['checked']) {
                    if (data['checked'][key]) {
                        keyStatus.push(key + '=既読');
                    } else {
                        keyStatus.push(key + '=未読');
                    }
                }
                // 配列の内容をテキストとして表示
                readStatus.textContent = keyStatus.join(' / ');
            }
        }
    }

    // 送信ボタンが押されると、入力された文字を送る
    function sendMessage() {
        const messageInput = document.getElementById('message');
        // JavaScriptオブジェクトを作成
        const data = {
            'message_id': Date.now(),
            'client_id': document.getElementById('idInput').value,
            'message': messageInput.value,
            'checked': {} // チェックボックスの初期状態
        };
        // JSONへ変換して送信
        webSocket.send(JSON.stringify(data));
        messageInput.value = '';
    }
</script>
</body>
</html>
